html,
body {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;
}

body {
    @include flex(column, center, center);
    background-color: #ddd;
    font-size: 1rem;
}

canvas {
    margin: 20px;
    touch-action: none;
    background-color: #fff;
}
