footer {
    @include flex(row, center, center);
    background-color: #e3f0ff;
    margin-top: 20px;
    width: 100%;
    * {
        color: #000;
    }
    p a {
        @include flex(row, center, center);
    }
    img {
        margin-right: 10px;
        width: 30px;
    }
}
