#clear,
#save {
    cursor: pointer;
    background-color: #6585ab;
    color: white;
    box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    &:hover {
        background-color: rgba(74, 95, 121, 0.322);
    }
}
